body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
}

.title{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header_links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 18px;
    color: #E5E7EB;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
   
}

.herom {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.message {
    font: 18px;
    color: #E5E7EB;
    margin-top: 15px;
    margin-bottom: 20px;
}

.button {
    color: #E5E7EB;
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
    transition-duration: 0.4s;
    padding: 5px;
    width: 150px;

}

.button:hover, .button2:hover {
    color: #3882f6;
    background-color: #E5E7EB ;
}

.infoheader {
    text-align: center;
    padding: 100px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.top_pictures {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    
}


.infoi {
    width: 550px;
    height: auto;
}


.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.text p {
    margin: 0px;
    padding: 0px;
}

.mountain {
    background-color: rgb(255, 255, 255);
    padding-bottom: 200px;
}

.quotecontainer {
    background-color: #E5E7EB;
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0 auto;
}

.quote, .author {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding: 0;
    margin: 0;
}

.quote {
    width: 850px;
    line-height: 1.5;
}

.author {
    align-self: flex-end;
    font-weight: 900;
}

.footercontainer {
    background-color: #3882f6;
    max-width: 950px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 5px;
    
}

.button2{
    color: #E5E7EB;
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #E5E7EB;
    transition-duration: 0.4s;
    padding: 5px;
    width: 150px;
}

.signup {
    color: #E5E7EB;
    font: 18px;
    max-width: 800px;
}

.signup p {
    margin-bottom: 3px;
    margin-top: 0px;
    font-weight: 900;
    padding-right: 10px;
    font-size: 24px;
}

.copywrightcontainer {
    background-color: #1f2937;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 70px;
}

.copywrighttext {
    color: #E5E7EB;
    font: 18px;
    margin-bottom: 20px;
}